* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


/* Basic styles */
button {
    padding: 0.7rem;
    border: none;
    background-color: rebeccapurple;
    color: #fff;
    transition: all 0.2s ease-out;
}

button:hover {
    background-color: rgb(61, 36, 128);
}

li {
    list-style: none;
}

/* Dice container */
.dice-container {
    max-width: 95%;
    margin: 0 auto;
}

/* Dice selection */
.dice-selection {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dice-selection > div {
    display: flex;
    flex-direction: column;
    width: 64px;
    text-align: center;
    margin: 0.7rem;
}

.dice-selection > div > input {
    padding: 0.5rem;
}

.dice-selection > button {
    margin-top: 1rem;
}

/* History container */
.history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history-container ul {

    max-height: 200px;
    min-width: 100px;
    overflow-y: scroll;
}

.history-container button {
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    body {
        justify-content: center;
    }
}